.container {
    text-align: center;
    font-size:150%;
    font-family: inherit;
}
h1 {
    font-size:400%;
    
}
.heading {
    background-color: lightgrey;
    text-align: center;
    padding: 30px;
    font-family: inherit;
}
.createFunction {
    text-align:center;
    color:red;
    font-size: 250%;
}